.wrapper {
    display: flex;
}

#sidebar,
#right_sidebar {
    min-width: 200px;
    max-width: 200px;
    transition: all 0.3s;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 900;
}

@media (max-width: 768px) {
    .wrapper {
        display: block;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        position: fixed;
        min-height: 100vh;
        max-height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-x: none;
        overflow-y: scroll;
        z-index: 940;
        margin-left: -265px;
        background-color: $gray-300;
        padding: 0.5rem 1rem 2rem 1rem;
        margin-bottom: 3rem;
    }
    #sidebar.active {
        margin-left: 0px;
    }
    #right_sidebar {
        min-width: 250px;
        max-width: 250px;
        position: fixed;
        height: 100vh;
        top: 40px;
        right: 0;
        z-index: 9999;
        margin-right: -265px;
        background-color: $gray-300;
        padding: 0.5rem 1rem;
    }
}

@media(max-width: 340px) {
    .gsm-header {
        font-size: 6.7vw;
    }
}